body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    color: rgb(7, 150, 131);
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    width: 160px;
    height: 160px;
    background-color: blue;
}

.cell {

    background-color: orangered;
    display: flex;
    

    height: 10px;
    width: 10px;
}

.sub-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    max-width: auto;
}